@media (max-width: 767px) {
  .container-ca {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 84vh;
    padding: 12px;

    .title-ca {
      font-size: 23px;
      color: white;
      font-family: title;
      padding-left: 12px;
      margin-top: 5px;
    }

    .row-ca {
      margin-top: 15px;
      width: 100%;
      height: 65%;

      .categoria {
        width: 100%;
        height: 29%;
        border: 1px solid rgba(0, 0, 0, 0.14);
        background: rgba(238, 238, 238, 0.4);
        border-radius: 20px;
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        margin-top: 15px;
        align-items: center;

        .ca-ti {
          font-size: 21px;
          font-weight: 500;
          font-family: text;
          color: rgba(30, 30, 30, 0.71);
          padding-left: 12px;
        }
      }
    }

    .title-graph {
      font-size: 22px;
      color: rgba(30, 30, 30, 0.71);
      font-family: title;
      padding-left: 12px;
      margin-top: 35px;
      margin-bottom: 8px;
    }

    .row-graph {
      width: 100%;
      height: 15%;

      .graph {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px;
        width: 100%;
        height: 38px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.14);
        background: rgba(238, 238, 238, 0.4);
        font-family: text;
        color: rgba(30, 30, 30, 0.71);
        font-size: 16px;
      }
    }

    .button__graph {
      display: flex;
      flex-direction: row;
      position: absolute;
      width: 90%;
      height: 40px;
      top: 83%;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4487B2;
        width: 35%;
        color: white;
        font-family: title;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
      }

      span {
        margin-left: 5px;
        margin-top: 1px;
      }
    }
  }

  .footer2-ca {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    align-items: center;
    padding: 0 20px;

    .logo-small {
      margin-top: 15px;
      width: 33%;
    }

    .button-calendar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      cursor: pointer;
      background: #3665AB;
      border-radius: 10px;
      height: 4.5vh;
      color: white;

      span {
        padding-right: 6px;
      }
    }
  }

  .modal-ca {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .modal-content {
      width: 94%;
      height: 80%;
      padding: 20px;
      border-radius: 8px;
      background: rgba(238, 238, 238, 0.4);
      backdrop-filter: blur(5px);
    }

    .li {
      height: 80%;
      overflow: auto;
    }

    .separate {
      cursor: pointer;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    .separate.selected {
      background-color: rgba(58, 108, 184, 0.24);
      color: #333;
      border-color: #007bff31;
    }

    .close-button {
      position: absolute;
      top: 7px;
      right: 4px;
      color: rgb(11, 11, 11);
      font-size: 35px;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
    }

    .list {
      display: flex;
      align-items: center;
      padding: 2px 15px;
    }

    .gra-li {
      width: 100%;
      font-family: text;
      font-size: 1.2rem;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .ti-graph {
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: title;
      color: #3665AB;
      font-size: 21px;
    }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes fadeInContent {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
  }

  @keyframes fadeOutContent {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.8); }
  }

  .save-button-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 85%;
    bottom: 20px;
    right: 20px;

    .back {
      width: 37%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .btn {
        display: flex;
        align-items: center;

        span { margin-left: 4px; }
      }
    }
  }

  .save-button-container button {
    padding: 10px 20px;
    background-color: #4487B2;
    border-radius: 10px;
    color: white;
    font-family: title;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }

  .save-button-container button:hover {
    background-color: #21467e;
  }

  .save-button-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
