@media (max-width: 767px) {
  .dark{
    .navbar{
      background: #1e1e1ef3;

      .mood{
        border: 1px solid #e8e8e848;
        box-shadow: 3px 3px 15px #c5c5c54c,
           -3px -3px 11px #ffffff35;
      }

      .mood-btn{
        background: #b3b3b345;

        svg{
          stroke: #e1e1e1;
          stroke-width: 1.5;
          
          g{
            path{
              stroke: #ececec;
              stroke-width: 1.5;
            }
          }
        }

        .circle2{
          transform: translate(-40px) scale(0.9);
          width: 25%;
          height: 2.6vh;
          top: 18%;
          transition-timing-function: linear;
        }
      }
    }

    .dash{
      background: #1e1e1e;

      .dash-content-title{ background: #2A5596; }

      .dash-content{
        background: #1e1e1e;

        .search-date{ color: #e1e1e1; }

        .search .btns{ 
          .button-calendar{
            background: rgba(217, 217, 217, 0.179);
            color: #e1e1e1;
          }

          .button-search{
            background: #2A5596;
          }
        }

        .dash-graph{
          background: rgba(217, 217, 217, 0.1);
          border: 1px solid #ffffff32;
          box-shadow: 4px 4px 15px #e4e4e42d,
           -2px -2px 11px #52525269;
        }

        .ventas{
          .venta1, .venta2{
            span{ color: #e1e1e1; }
          }
        }

        .modal .modal-content{
          background: #373636;
          color: #e1e1e1;

          .close-button{ color: #e1e1e1; }

          .rdp-day_range {
            background-color: #2A5596 !important;
            color: #446aa4 !important;
          }

          .rdp-day_selected, .rdp-day_selected:focus, .rdp-day_selected:hover {
            background-color: #2A5596 !important;
            color: white !important;
          }  

          .rdp-nav_button:hover{ background-color: #2A5596; }

          .rdp-button:hover:not([disabled]):not(.rdp-day_selected){ background-color: #3261a89c; }
        }
      }
    }
  }
}