@media (max-width: 767px) {
  .gra-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 1.8rem;
    
    .graph__body{
      display: flex;
      flex-direction: column;
      width: 94%;
      height: 83vh;
      padding: 10px 7px 5px 7px;
      background: rgba(238, 238, 238, 0.71);
      border: 1px solid rgba(0, 0, 0, 0.14);
      margin-top: 18px;
      border-radius: 10px;
      backdrop-filter: blur(5px);

      .graph__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 17px;
        margin-left: 25px;

        .graph__header__title{
          font-size: 1.4rem;
          font-family: text;
        }

        .graph__header__data{
          display: flex;
          flex-direction: column;
          margin-right: 20px;
          margin-top: 40px;

          span{
            font-family: text;
            font-size: 1.1rem;
          }
        }
      }

      .sha-sm{
        --tw-shadow: 0;
        --tw-shadow-colored: 0;
        box-shadow: 0;
      }

      .sha-sm{
        --tw-shadow: 0;
        --tw-shadow-colored: 0;
        box-shadow: 0;
      }

      .bg-card{
        background-color: #00000000;
      }
    }
  }
}