@media (max-width: 767px) {
  .gra-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 1.8rem;
    
    .graph__body{
      display: flex;
      flex-direction: column;
      width: 94%;
      height: 81.9vh;
      padding: 10px 7px 5px 7px;
      background: rgba(238, 238, 238, 0.71);
      border: 1px solid rgba(0, 0, 0, 0.14);
      border-radius: 10px;
      backdrop-filter: blur(5px);

      .graph__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 17px;
        margin-left: 25px;

        .content-header{
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        .graph__header__title{
          color: #428bb8;
          font-size: 1.4rem;
          font-family: text;
          margin-top: 10px;
          width: 97%;
        }

        .graph__header__data{
          display: flex;
          flex-direction: column;
          margin-right: 20px;
          margin-top: 10px;
          font-size: 1rem;
          color: rgba(0, 0, 0, 0.701);

          span{
            font-family: text;
            font-size: 1.1rem;
          }
        }
      }

      .sha-sm{
        --tw-shadow: 0;
        --tw-shadow-colored: 0;
        box-shadow: 0;
      }

      .sha-sm{
        --tw-shadow: 0;
        --tw-shadow-colored: 0;
        box-shadow: 0;
      }

      .bg-card{
        background-color: #00000000;
      }

      .graph__body__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 58vh;

        .\[\&_\.recharts-sector\[stroke\=\'\#fff\'\]\]\:stroke-transparent .recharts-sector[stroke='#fff'] {
          stroke: rgb(0 0 0 / 14%);
        }

        .rounded-lg{ border: none; }
      }

      .recharts-responsive-container{
        min-height: 45vh;
      }

      .button__graph{
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 10px;

        .btn{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #4487B2;
          width: 35%;
          color: white;
          font-family: title;
          font-size: 17px;
          border: none;
          cursor: pointer;
          border-radius: 10px;
        }

        span{
          margin-left: 5px;
          margin-top: 1px;
        }
      }
    }

    .graph-option{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 4vh;
      
      .graph-type{
        position: absolute;
        top: 17px;
        margin-left: 14px;
        cursor: pointer;
      }
    }

    .not-found{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 66vh;

      span{
        text-align: center;
        font-family: text;
        color: rgba(0, 0, 0, 0.787);
        font-size: 1.1rem;
        margin-top: 1.2rem;
      }
    }
  }
}