@media (max-width: 767px) {
  .body {
    background-image: url('../public/fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;  
      height: 100vh;

      .container-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.083);
        width: 85%;
        height: 72vh;
        border-radius: 20px;
        background: rgba(238, 238, 238, 0.17);
        backdrop-filter: blur(5px);
        padding: 1rem;  
        box-sizing: border-box;  
      }
    
      .modal-verify {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        animation: fadeIn 0.3s ease-out forwards;
      }
    
      .modal-verify.fade-out-background {
        animation: fadeOutBackground 0.3s ease-out forwards;
      }
      
      .modal-login-loading {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 30%;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        background-color: #00000000;
        position: absolute;
        animation: spin 0.5s linear infinite;
      }
      
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: scale(0.8);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      
      @keyframes fadeOutBackground {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    
      .modal-content-verify {
        width: 90%; 
        height: 63%;
        background: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        animation: fadeInContent 0.3s ease-out forwards;
      }
    
      .modal-content-verify.fade-out {
        animation: fadeOutContent 0.3s ease-out forwards;
      }
      
      @keyframes fadeInContent {
        from {
          opacity: 0;
          transform: scale(0.8);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      
      @keyframes fadeOutContent {
        from {
          opacity: 1;
          transform: scale(1);
        }
        to {
          opacity: 0;
          transform: scale(0.8);
        }
      }
    
      .close-button-verify {
        position: absolute;
        top: 7px;
        left: 4px;
        color: rgb(11, 11, 11);
        font-size: 2rem;  
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
      }
    
      .logo {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;  
      }
    
      .img {
        width: 50%;
        height: auto;  
      }
    
      .form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;  
        width: 100%;  
        height: auto;  
      }
    
      .input-icon {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-bottom: 1.5rem;
      }
    
      .input-icon i {
        position: absolute;
        left: 1.5rem; 
        top: 50%;
        transform: translateY(-50%);
      }
    
      .clave, .instancia { margin-top: 1.5rem;}
      .input-icon.clave {
        position: relative;
      }
      
      .input-icon.clave .cla {
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
      }
      
      .input-icon.clave .input {
        width: 100%;
        padding-left: 70px;
        padding-right: 40px; 
      }
      
      .input-icon.clave .password-toggle {
        position: absolute;
        left: 84%; 
        top: 52%;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 10px; 
        z-index: 10;
      }

      .input {
        width: 100%;
        border-radius: 20px;
        padding: 0.5rem 0.5rem 0.5rem 3.5rem;  
        border: 1px solid rgba(58, 108, 184, 0.44);
        background: rgba(163, 191, 225, 0.159);
        font-family: text;
        font-size: 1rem; 
        color: rgba(30, 30, 30, 0.835);
        height: 5.7vh;
        outline: none;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.057) inset;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.072) inset;
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.057) inset;
        box-sizing: border-box;  
      }
    
      .input::placeholder { color: rgba(30, 30, 30, 0.835); }
    
      .input-msg, .input-msg2 {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 1.25rem; 
      }
    
      .error {
        width: 100%;
        position: absolute;
        margin-bottom: 2.2rem;  
      }
    
      .input-msg p, .input-msg2 p {
        margin-top: 2.8rem;  
        color: red;
        font-size: 0.875rem;  
        position: absolute;
        left: 0;
      }
    
      .btn {
        margin-top: 2.625rem;  
        width: 100%; 
        height: 6vh;
      }
    
      .button {
        width: 100%;  
        height: 6vh;
        background: #4487B2;
        border-radius: 10px;
        color: rgba(255, 253, 253, 0.88);
        font-family: title;
        margin-bottom: 1rem;  
        font-size: 1rem;  
      }

      .terms_conditions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;  
        width: 100%;  
      }

      .terms_conditions a {
        font-family: text;
        font-size: 1rem;  
        color: rgba(30, 30, 30, 0.835);
      }

      .modal-terms {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.162);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        animation: fadeIn 0.3s ease-out forwards;
      }

      .content-terms{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 90%;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.057) inset;
        border-radius: 20px;
        padding: 20px;
      }

      .content-terms h1 {
        font-family: title;
        font-size: 1.5rem;  
        color: rgba(30, 30, 30, 0.835);
        margin-bottom: 1rem;  
      }

      .content-terms-text {
        text-align: justify;
        max-height: 500px;
        overflow-y: auto;
        scrollbar-width: thin;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 1.6;
        color: #333;
      }

      .terms-buttons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 1rem;  
      }

      .button-terms {
        background-color: #4487B2;
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      .close-terms {
        background-color: #b24444;
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}