@media (max-width: 767px) {
  .body {
    background-image: url('../public/fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;  /* Ajusta al 100% del ancho del contenedor */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;  
      height: 100vh;

      .container-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.083);
        width: 85%;
        height: 72vh;
        border-radius: 20px;
        background: rgba(238, 238, 238, 0.17);
        backdrop-filter: blur(5px);
        padding: 1rem;  
        box-sizing: border-box;  
      }
    
      .modal-verify {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        animation: fadeIn 0.3s ease-out forwards;
      }
    
      .modal-verify.fade-out-background {
        animation: fadeOutBackground 0.3s ease-out forwards;
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: scale(0.8);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      
      @keyframes fadeOutBackground {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    
      .modal-content-verify {
        width: 90%; 
        height: 63%;
        background: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        animation: fadeInContent 0.3s ease-out forwards;
      }
    
      .modal-content-verify.fade-out {
        animation: fadeOutContent 0.3s ease-out forwards;
      }
      
      @keyframes fadeInContent {
        from {
          opacity: 0;
          transform: scale(0.8);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      
      @keyframes fadeOutContent {
        from {
          opacity: 1;
          transform: scale(1);
        }
        to {
          opacity: 0;
          transform: scale(0.8);
        }
      }
    
      .close-button-verify {
        position: absolute;
        top: 7px;
        left: 4px;
        color: rgb(11, 11, 11);
        font-size: 2rem;  /* Ajuste el tamaño de fuente en unidades relativas */
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
      }
    
      .logo {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;  /* Ajuste la distancia en unidades relativas */
      }
    
      .img {
        width: 50%;
        height: auto;  /* Mantiene la relación de aspecto de la imagen */
      }
    
      .form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;  /* Ajuste la distancia en unidades relativas */
        width: 100%;  /* Ajusta al 100% del ancho del contenedor */
        height: auto;  /* Ajusta la altura automáticamente */
      }
    
      .input-icon {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-bottom: 1.5rem;  /* Ajuste la distancia en unidades relativas */
      }
    
      .input-icon i {
        position: absolute;
        left: 1.5rem;  /* Ajuste la distancia en unidades relativas */
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    
      .clave, .instancia { margin-top: 1.5rem;  /* Ajuste la distancia en unidades relativas */ }
    
      .input {
        width: 100%;
        border-radius: 20px;
        padding: 0.5rem 0.5rem 0.5rem 3.5rem;  /* Ajuste el padding en unidades relativas */
        border: 1px solid rgba(58, 108, 184, 0.44);
        background: rgba(163, 191, 225, 0.159);
        font-family: text;
        font-size: 1rem;  /* Ajuste el tamaño de fuente en unidades relativas */
        color: rgba(30, 30, 30, 0.835);
        height: 5.7vh;
        outline: none;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.057) inset;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.072) inset;
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.057) inset;
        box-sizing: border-box;  /* Asegura que el padding se incluya en el tamaño total del elemento */
      }
    
      .input::placeholder { color: rgba(30, 30, 30, 0.835); }
    
      .input-msg, .input-msg2 {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 1.25rem;  /* Ajuste la distancia en unidades relativas */
      }
    
      .error {
        width: 100%;
        position: absolute;
        margin-bottom: 2.2rem;  /* Ajuste la distancia en unidades relativas */
      }
    
      .input-msg p, .input-msg2 p {
        margin-top: 2.8rem;  /* Ajuste la distancia en unidades relativas */
        color: red;
        font-size: 0.875rem;  /* Ajuste el tamaño de fuente en unidades relativas */
        position: absolute;
        left: 0;
      }
    
      .btn {
        margin-top: 2.625rem;  /* Ajuste la distancia en unidades relativas */
        width: 100%;  /* Ajusta al 100% del ancho del contenedor */
        height: 6vh;
      }
    
      .button {
        width: 100%;  /* Ajusta al 100% del ancho del contenedor */
        height: 6vh;
        background: #4487B2;
        border-radius: 10px;
        color: rgba(255, 253, 253, 0.88);
        font-family: title;
        margin-bottom: 1rem;  /* Ajuste la distancia en unidades relativas */
        font-size: 1rem;  /* Ajuste el tamaño de fuente en unidades relativas */
      }
    }
  }
}